
html, body {
	background-color: #000;
	color: #fff;
}

* {
	font-family: 'Courier New', Courier, monospace;
}

a {
	color: skyblue;
	text-decoration: none;
}

a:hover {
	color: deepskyblue;
	text-decoration: none;
}

